[user]
	name = Sibo Dong
	email = dongsibo@users.noreply.github.com
[core]
	autocrlf = input
	editor = vim
	pager = less --no-init
[alias]
	tree = log --all --decorate --oneline --graph
	twig = log --decorate --oneline --graph
